{% load static %}

<div class="container content-space-2">
    <div class="row">
        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/hollister-dark.svg' %}"
                alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/levis-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/new-balance-dark.svg' %}"
                alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/puma-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/nike-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->

        <div class="col text-center py-3">
            <img class="avatar avatar-lg avatar-4x3" src="{% static 'frontend/images/tnf-dark.svg' %}" alt="Logo">
        </div>
        <!-- End Col -->
    </div>
    <!-- End Row -->
</div>