{% load static %}

<div class="border-bottom">
    <div class="container content-space-2">
        <div class="row">
            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="{% static 'frontend/images/oc-protected-card.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">Secure checkout</h4>
                        <p class="small mb-0">Guaranteed safe checkout</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4 mb-7 mb-md-0">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="{% static 'frontend/images/oc-return.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">30 Days return</h4>
                        <p class="small mb-0">We offer you a full refund within 30 days of purchase.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->

            <div class="col-md-4">
                <!-- Icon Block -->
                <div class="d-flex">
                    <div class="flex-shrink-0">
                        <img class="avatar avatar-4x3" src="{% static 'frontend/images/oc-truck.svg' %}"
                            alt="Image Description">
                    </div>
                    <div class="flex-grow-1 ms-4">
                        <h4 class="mb-1">Free shipping</h4>
                        <p class="small mb-0">Automatically receive free standard shipping on every order.</p>
                    </div>
                </div>
                <!-- End Icon Block -->
            </div>
            <!-- End Col -->
        </div>
        <!-- End Row -->
    </div>
</div>